@import "./src/css/navbar.css";
@import "./src/css/scrollbar.css";
@import "./src/css/home.css";
@import "./src/css/about.css";
@import "./src/css/menu.css";
@import "./src/css/testimonials.css";
@import "./src/css/gallery.css";
@import "./src/css/order.css";
@import "./src/css/footer.css";
@import "./src/css/media.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.full-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section {
  padding: 100px 0;
  display: block;
}
section h1 {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

body {
  background-color: #f3e9e9;
}
html {
  scroll-behavior: smooth;
}
.home .full-width .home-content,
.about .full-width .about-content,
.testimonial .full-width .testimonial-content,
.order .full-width .order-content,
.footer .full-width .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.head-p1 {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  display: block;
  font-size: 2.3em;
  margin-block-start: 0.5em;
  margin-block-end: 0.52em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  font-size: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.btn {
  padding: 15px;
  font-size: 1.3em;
  background: #ff9d2e;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.6s ease;
}

.btn-hover:hover {
  background: none;
  color: #ff9d2e;
  border: 1px solid #ff9d2e;
}

.small-head {
  text-align: center;
  color: #f42f25;
}

.w-100 {
  width: 100%;
}
img {
  height: auto;
}
