.about .about-content .left {
  width: calc(45% - 2vw); /* Adjusted width to include margin */
  margin-right: 3vw;
  margin-top: auto;
  margin-bottom: auto;
}
.about .about-content .right {
  width: calc(52% - 2vw); /* Adjusted width and margin-right */
  margin-left: 2vw; /* Added margin-left */
}
.about .about-content .left {
  position: relative;
}
.about .about-content .left .red-shape {
  position: absolute;
  top: 0;
  left: 100px;
  transform: scale(1);
  animation: scale-up 1s linear infinite;
}
@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.about .about-content .right ul li {
  margin-left: -50px;
}
.about .about-content .right .about-list li {
  list-style: none;
  font-size: 1.2em;
}
.about .about-content .right .about-list li::before {
  content: "✓";
  color: #ff9d2e;
  padding: 0px 10px;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right .order-now {
  padding: 10px 20px;
  font-size: 1.2em;
}

.about {
  background-color: #fff;
}

.about .about-content .left .about-img {
  object-fit: cover;
}
