.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-content img {
  width: 32.7%;
  margin-bottom: 10px;
}

.gallery .full-width {
  min-width: 90vw;
}
