#home {
  color: var(--secondary-color);
  font-family: "Rubik", sans-serif;
  background: url(../assets/image/Home-BG.gif) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.home .full-width .home-content .home-text-1 span {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6em;
  background-color: #ff9d2e;
  color: white;
}

.home .full-width .home-content .left {
  width: calc(45% - 2vw); /* Adjusted width to include margin */
  margin-right: 3vw;
}

.home .full-width .home-content .right {
  width: calc(50% - 10vw); /* Adjusted width and margin-right */
  margin-left: 10vw; /* Added margin-left */
}

#home .home-content .left div {
  margin-bottom: 20px;
}

#home .home-content .column {
  padding: 100px 0;
}

.home .home-content .left .home-text-2 {
  font-size: 4em;
  font-weight: 600;
  color: #e8cbbe;
}
.home .home-content .left .home-text-3 {
  font-size: 1.2em;
  text-align: left;
  color: #e8cbbe;
}

#home .plate {
  object-fit: cover;
  border-radius: 50%;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
