.menu-item {
  width: calc(32%);
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 50px 25px;
  margin-bottom: 2vh;
}

/* Default styles */
.menu-item {
  border: none;
  background-color: #ffffff;
}

/* Dark mode styles */
.dark-mode .menu-item {
  border: 2px solid crimson;
  background-color: rgb(255, 255, 255);
}

.menu-item h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.menu-item:hover {
  background-color: #f3e9e9;
}
.menu-item {
  color: var(--secondary-color);
}

.menu .menu-content .menu-item span,
.menu .menu-content .menu-item h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.menu .menu-content .menu-item span {
  font-size: 16px;
}
.menu .menu-content .menu-item h3 {
  font-size: 22px;
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu .menu-content .menu-item .menu-item-content .stars,
.menu .menu-content .menu-item .menu-item-content .price {
  color: #ff9d2e;
}
.menu .menu-content .menu-item .menu-item-content .item-price {
  color: #f42f25;
}
