.order .order-content .left {
  width: 45%;
}
.order .order-content .left img {
  object-fit: cover;
}
.order .order-content .right {
  width: 55%;
}

.order .order-content .right input {
  width: 42%;
  padding: 20px 20px;
  margin: 2vh 1vw;
  background-color: transparent;
  border: 1px solid #ff9d2e;
}
.order .order-content .right .btn {
  margin-left: 20px;
  font-size: 1em;
  font-size: 20px;
}
::placeholder {
  color: #ff9d2e;
  font-size: 1.3em;
}

.order {
  background-color: #fff;
}
