.testimonial .full-width .testimonial-item-box {
  width: calc(33% - 20px);
  background-color: #f3e9e9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial .full-width .testimonial-item-content {
  display: flex;
  align-items: center;
}

.testimonial .full-width .testimonial-box {
  padding: 50px 25px;
}

.testimonial .full-width .testimonial-item-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial .full-width .testimonial-item-text {
  font-size: 18px;
  margin-left: 1vw;
}

.testimonial .full-width .testimonial-item-p {
  margin-top: 10px;
  font-size: 14px;
  color: #787878;
  text-align: left;
}

.testimonial .full-width .testimonial-item-text h4 {
  font-size: 14px;
  color: #787878;
  margin-top: 5px;
}

.testimonial .full-width .testimonial-item-p .stars {
  color: #ff9d2e;
}

.testimonial {
  background-color: #fff;
}
